/* You can add global styles to this file, and also import other style files */
#main {
  margin: 0 auto;
  position: static;
  height: 200px;
}

.day{
  line-height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

#container {
  float: left;
  height: 100%;
}

.box {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  width: 200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left {
  border-radius: 20px 0px 0px 20px;
  border: 2px solid #73AD21;
}

.middle {
  border-radius: 0px 0px 0px 0px;
  border: 2px solid #73AD21;
}

.right {
  border-radius: 0px 20px 20px 0px;
  border: 2px solid #73AD21;
}

.selected {
  background: #73AD21;
}

.validate {
  line-height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  color: orange;
}

.img{
  width: 50px;
  height: 50px;
}

#main h2{
  font-family:verdana;
}

#main a{
  font-family:verdana;
}
